<h1>Welcome to Mushrooms Inc.</h1>

<p>
  The home for all of your favorite mushrooms.
</p>
<p>
  Please click "Search" below to find your mushroom...
</p>

<%= link_to "Search", search_path, :class => "search_button round" %>
