<h1>Search</h1>

<p>
	Please enter the mushroom you want to search for...
</p>

<form>
	<input type="text" id="searchBox" size="40" />
	<input type="submit" id="submit" class="search_button round" value="Search" />
</form>

<div id="result">
</div>