<header>
  <% logo = image_tag("mushrooms.jpg", :alt => "Mushroom Inc.", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Add Mushroom", addmushroom_path %></li>
    </ul>
  </nav>
</header>

